/* .cardComponent {
  box-shadow: none !important;
}

.card-content {
  display: none;
} */

.card {
  border-radius: 25px !important;
}

.cards-detail h5 {
  margin: 0px;
  padding: 0px;
}

.cards-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 60%;
}

.wrapperImage {
  display: flex;
  justify-content: center;
}
